<!doctype html>

<html lang="ko">
<head>
	<title>Wish</title>
</head>
<body>
    <a href="{{ url_for('show_entries') }}" >Wish</a>
    <a href="{{ url_for('add') }}" >Sign Up</a>

{% if not g.User.is_authenticated() %}
      <a href="{{ url_for('login') }}" >Log in</a>
{% endif %}
{% if g.User.is_authenticated() %}
		<li><p class="navbar-text">Welcome! {{ g.User.nickname }}</p></li> 
		<a href="{{ url_for('logout') }}" >Log out</a>
{% endif %}

<div class=page>
{% for message in get_flashed_messages() %}
<div>  {{ message }}</div>
{% endfor %}
{% block body %}{% endblock %}
</div>
</body>
</html>


